.logo {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.links li {
  margin: auto;
}

a {
  text-decoration: none;
}

.episodes-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.episodes-title-container input {
  border: 1px solid gray;
  padding: 8px;
}

.episode-details {
  font-size: small;
  color: gray;
}

.episode-title-container {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.back-button {
  position: absolute;
  left: -100px;
}

.footer {
  text-align: center;
  font-size: small;
  color: gray;
}

.episode-cover {
  width: 350px;
  display: block;
  margin: auto;
  padding-bottom: 1px;
}

.episode-content pre {
  margin-top: 0;
  margin-bottom: 0;
}

summary {
  padding-bottom: 5px;
}

.chapter-marks {
  overflow-x: auto;
  white-space: nowrap;
}

.link-button {
  background: none;
  border: none;
  color: #07a;
  cursor: pointer;
  display: block;
  font-family: monospace;
  font-size: large;
}

article {
  display: flex;
}

article img {
  height: 130px;
  margin-right: 15px;
}

article .content {
  flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
  .link-button {
    color: #00a2e7;
  }

  .rhap_container {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(85, 85, 85);
    box-shadow: none;
  }

  .rhap_time {
    color: #d9d9d9;
  }
  
  .rhap_container svg {
    color: #d9d9d9;
  }

  .episodes-title-container input {
    background-color: black;
    color: gray;
  }
}


@media (max-width: 1000px) {
  .back-button {
    display: none;
  }
}

@media (max-width: 450px) {
  .episode-cover {
    width: 90%;
    height: auto;
  }

  .links {
    flex-direction: column;
  }
  
  .links li {
    margin-left: 0;
    margin-bottom: 5px;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
