.logo {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.links li {
  margin: auto;
}

a {
  text-decoration: none;
}

.episode-details {
  font-size: small;
  color: gray;
}

.episode-title-container {
  display: flex;
  align-items: start;
  position: relative;
}

.back-button {
  position: absolute;
  left: -100px;
}

.footer {
  text-align: center;
  font-size: small;
  color: gray;
}

.episode-cover {
  width: 350px;
  display: block;
  margin: auto;
  padding-bottom: 1px;
}

.episode-content pre {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1000px) {
  .back-button {
    display: none;
  }
}

@media (max-width: 450px) {
  .episode-cover {
    width: 90%;
    height: auto;
  }

  .links {
    flex-direction: column;
  }
  
  .links li {
    margin-left: 0;
    margin-bottom: 5px;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
