.logo {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.links li {
  margin: auto;
}

a {
  text-decoration: none;
}

.details {
  font-size: small;
  color: gray;
  line-height: 0;
}

.title-container {
  display: flex;
  align-items: start;
  position: relative;
}

.back-button {
  position: absolute;
  left: -100px;
}

.footer {
  text-align: center;
  font-size: small;
  color: gray;
}

.episode-cover {
  width: 350px;
  display: block;
  margin: auto;
}

@media (max-width: 600px) {
  .episode-cover {
    width: 90%;
    height: auto;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
