body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}

h1, h2, h3 {
  line-height: 1.2;
}

.logo {
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.details {
  font-size: small;
  color: gray;
  line-height: 0;
}

.footer {
  text-align: center;
  font-size: small;
  color: gray;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
